<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Artist Info</title>
</head>

<body>

    <select id="artist-dropdown">
        <option value="" disabled selected>Select Artist2</option>
    </select>

    <div id="artist-details">

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const artistDropdown = document.getElementById("artist-dropdown");
            const artistDetails = document.getElementById("artist-details");

            // Fetch artist names from the API and populate the dropdown
            fetch('http://localhost:5000/artists?limit=1000')
                .then(response => response.json())
                .then(data => {
                    data.forEach(artist => {
                        const option = document.createElement('option');
                        option.value = artist.artistId;
                        option.textContent = artist.name;
                        artistDropdown.appendChild(option);
                    });
                })
                .catch(error => console.error("Couldn't fetch artists:", error));

            // When an artist is selected from the dropdown, fetch and display details
            artistDropdown.addEventListener('change', function () {
                const selectedArtistId = this.value;

                fetch(`http://localhost:5000/artists/${selectedArtistId}/albums`)
                    .then(response => response.json())
                    .then(data => {
                        artistDetails.innerHTML = ''; // Clear previous details
                        const artistName = document.createElement('h1');
                        artistName.textContent = `Artist: ${data.artist_name}`;
                        artistDetails.appendChild(artistName);
        
                        data.albums.forEach(album => {
                            const albumP = document.createElement('p');
                            albumP.textContent = album;
                            artistDetails.appendChild(albumP);
                        });
                    })
                    .catch(error => console.error("Couldn't fetch artist details:", error));
            });
        });

    </script>

</body>

</html>